html {
    width: 100%;
    height: 100%;

}
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 20em;
    display: grid;
    grid-template-columns: 4fr 4fr 5fr;

}
.wrapper > div {
    height: 100%;
}
#box1 {
    background-color: brown;
    outline: 1px solid black;
}
#box2 {
    background-color: brown;
    outline: 1px solid black;
}
#box3 {
    background-color: brown;
    outline: 1px solid black;
}
#box4 {
    background-color: brown;
    outline: 1px solid black;
}
#box5 {
    background-color: brown;
    outline: 1px solid black;
}
.wrap {
    height: 30%;
    display: grid;
    
    grid-template-areas: 
    'boxi1 boxi1 boxi1'
    'boxi2 boxi3 boxi4'
    'boxi2 boxi5 .'
    'boxi2 . .'
    ;
}
.wrap > div{
    background-color: lawngreen;
    outline: 1px solid black;
}

.boxi1 {
    grid-area: boxi1;
    
}
.boxi2 {
    grid-area: boxi2;
}
.boxi3 {
    grid-area: boxi3;
}
.boxi4 {
    grid-area: boxi4;
}
.boxi5 {
    grid-area: boxi5;
}
